/*=============== Variables ===============*/
:root {
  /*=============== Colors ===============*/
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --brigh-blue-active: hsl(245, 83%, 68%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desatured-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  /*=============== Typography ===============*/
  --font-family: "Red Hat Display", sans-serif;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
  /*=============== Typography sizes ===============*/
  --big-text: 2.2rem;
  --medium-text: 1.5rem;
  --small-text: 1.3rem;
}
/*=============== Base ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: var(--font-family);
}
body {
  background-color: var(--pale-blue);
}
img {
  display: block;
  overflow: hidden;
  width: 100%;
}
/*=============== Header ===============*/
.header__background-container {
  width: 100%;
  position: absolute;
  z-index: -1;
}
/*=============== Main ===============*/
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 3.3rem);
  /*3.7 en desktop*/
}
.card {
  margin: 0 2.4rem;
  max-width: 45rem;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 16px 16px;
}
.card__img {
  border-radius: 1.6rem 1.6rem 0 0;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
  background-color: white;
  border-radius: 0 0 1.6rem 1.6rem;
}
.card__title {
  font-size: var(--big-text);
  font-weight: var(--font-black);
  margin: 0.8rem 0 1.6rem 0;
  color: var(--dark-blue);
}
.card__description {
  padding: 0 1.4rem;
  color: var(--desatured-blue);
  font-weight: 500;
  font-size: var(--medium-text);
  line-height: 167%;
  text-align: center;
  margin-bottom: 2.4rem;
}
.card__plan {
  padding: 1.6rem;
  background-color: var(--very-pale-blue);
  border-radius: 1.6rem;
  width: 100%;
  margin-bottom: 2.4rem;
}
.card__plan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__plan-info {
  display: flex;
  align-items: center;
}
.card__plan-data {
  margin-left: 2.1rem;
}
.card__plan-title {
  color: var(--dark-blue);
  font-weight: var(--font-bold);
  font-size: var(--medium-text);
  display: block;
}
.card__plan-value {
  font-weight: var(--font-medium);
  font-size: var(--medium-text);
  color: var(--desatured-blue);
  display: block;
}
.card__link {
  color: var(--bright-blue);
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.card__link:hover {
  color: var(--brigh-blue-active);
}
.card__link--underline {
  font-size: var(--small-text);
  text-decoration: underline;
  font-weight: var(--font-bold);
}
.card__link--underline:hover {
  text-decoration: none;
}
.card__button {
  cursor: pointer;
  padding: 1.2rem;
  width: 100%;
  color: white;
  font-weight: var(--font-black);
  font-size: var(--medium-text);
  font-family: var(--font-family);
  border: none;
  background-color: #382ae1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  transition: all 0.2s ease-out;
  margin-bottom: 2.4rem;
}
.card__button:hover {
  background-color: var(--brigh-blue-active);
}
.card__cancel {
  color: var(--desatured-blue);
  font-weight: var(--font-black);
  font-size: var(--medium-text);
  margin-bottom: 0.4rem;
}
.card__cancel:hover {
  color: var(--dark-blue);
}
/*=============== Footer ===============*/
.attribution {
  font-size: 1.3rem;
  /*1.6rem en desktop*/
  font-weight: bold;
  text-align: center;
  padding: 0.8rem 0;
}
/*=============== Media Queries ===============*/
@media screen and (min-width: 481px) {
  /*=============== Variables ===============*/
  :root {
    /*=============== Typography sizes ===============*/
    --big-text: 2.8rem;
    --medium-text: 1.6rem;
    --small-text: 1.4rem;
  }
  .card__content {
    padding: 4.8rem;
  }
}
